<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="python" arguments="-m gunicorn --workers 1 --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:%HTTP_PLATFORM_PORT% server:app" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log" startupTimeLimit="60" />
  </system.webServer>
</configuration>
